:root {
  --primary-color: #2962FF;
  --secondary-color: #78909C;
  --tertiary-color: #37474F;
  --link-color: #0d6efd;
  --text-color: #212529;
  --text-alt-color: #ffffff;
  --light-color: #CFD8DC;

  --dark-primary-color: #27374D;
  --dark-secondary-color: #526D82;
  --dark-tertiary-color: #9DB2BF;
}

