.header {
  background: var(--primary-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  color: #ffffff;
  padding: 10px 0;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-left: 10px;

      a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;

        &.active {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}
